{% extends "layouts/base-fullscreen.html" %}
{% load crispy_forms_tags static %}

{% block content %}
{% if validlink %}
<main>

    <!-- Section -->
    <section class="bg-soft d-flex align-items-center my-3 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="row justify-content-center form-bg-image">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="title my-4 text-center">
                        <h1 class="h1 fw-bold" style="font-size: clamp(2em, 5vw, 3em)">Ganti Kata Sandi</h1>
                        <p class="text-muted">Kata sandi baru Anda harus berbeda dari kata sandi yang digunakan sebelumnya.</p>
                      </div>
                      <form method="post">
                          {% csrf_token %}
                          {{ form.new_password1|as_crispy_field }}
                          {{ form.new_password2|as_crispy_field }}
                          <button class="btn btn-primary mt-4 w-100">Ganti Kata Sandi</button>
                      </form>
                      {% else %}
                      <p>
                          The password reset link was invalid, possibly because it has already been used.
                          Please request a new password reset.
                      </p>
                      {% endif %}
                
                </div>
            </div>
        </div>
    </section>

    

</main>



{% endblock %}